body, html {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.container {
  width: 600px;
  margin: 20px auto 0;
}

.tab-panel {
  display: flex;
  justify-content: space-between;
}

.form-content {
  padding: 0 20px;
}

.button-panel {
  padding: 10px 20px;
  display: flex;
}

.button-next {
  margin: 30px 0 0 auto;
  padding: 10px 50px;
  text-transform: uppercase;
  background-color: #ccf;
  color: #000;
  border: 2px solid #ccf;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  transition: all 0.25s ease 0s;
}

.button-next:hover {
  background-color: #aeaee0;
}

.button-next:disabled {
  background-color: #fff;
  color: #ccf;
  border: 2px solid #ccf;
  cursor: default;
}
